* {
    color: #4B5563;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f2f2f2;
    background:url("../Images/bg-login.png") no-repeat center center;
    background-size:cover;
    overflow:hidden;
}

.bg-login {
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    width: 140px;
    margin-bottom: 20px;
}

.login-box {
    width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: double;
    font-weight: 1000;

}
h4{
    width:450px;

    text-align:center;

    margin:20px 0;

    line-height:1.5;

    font-size:18px;
}
table{
    width: 100%;
    display: flex;
    justify-content: center;
}
form {
    width: 480px;
    
    padding: 45px 55px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
 } 

form h1 {
   font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
tr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
td {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555;
    align-items: center;
    
    /* width: %; */
    font-size: 15px;
   
    padding-bottom:15px;
}
input{
      width: 20px;
    height: 35px;

    border-radius:10px;

    padding:05px;

    font-size:13px;
}
td input {
    
    
    
     display: block;
    width: 300px;
    height: 30px;
    margin: 10px auto 20px auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
}

td input:focus {
    outline: none;
    border-color: #007bff;
    align-items: center;
}

form button {
   
     width:450px;

    height:50px;

    border:none;

    border-radius:10px;

    font-size:22px;

    background:#2E7D32;

    color:white;

    cursor:pointer;
}

form button:hover {
    background-color: #0056b3;
}