* {
    background-color: #EAF6FF;
    color: #4B5563;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-family: Arial, sans-serif;
}

/*.button {
    color: gray;
    padding: 7px 2px;
    text-decoration: none;
    gap: 15px;
    border-radius: 5px;
    min-width: 120px;
    min-height: 40px;
    font-size: 16px;
    background-color: #142c94;

}

.button:hover {
    background-color: red;
}
*/
nav {
    display: flex;
    gap: 10%;
    /* Space between menu items */
    margin-left: 20%;
}

.menu {
    text-decoration: none;
    /* Remove underline (optional) */
    color: black;
    /* Text color */
    font-size: 22px;
    font-weight: bold;
    padding: 5px 0;
}

.menu:hover {
    color: orange;
    /* Hover effect */
}

.hero-content {
    font-family: 'Roboto', sans-serif;
}