* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F7FA;
    color: #4B5563;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-family: Arial, sans-serif;
}

/*header {
    background: #1F2937;
    color: black;
}*/

.button {
    color: gray;
    padding: 5px 2px;
    text-decoration: none;
    /* remove underline */
    border-radius: 5px;
    min-width: 120px;
    min-height: 40px;
    max-width: 200px;
    max-height: 60px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-color: #142c94;
}

.button:hover {
    background-color: red;
}

.nav {
    /* Dark background */
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    /* Align items to the right */
    align-items: center;
    margin: 0 auto;
    height: 13px;
    gap: 15px;
}

.navbar-registeration {
    /* Dark background */
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    /* Align items to the right */
    align-items: center;
    height: 13px;
    gap: 15px;
}

.hero-content {
    font-family: 'Roboto', sans-serif;
}